@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: SUIT-Medium;
}

.header{
  position: sticky;
  top:0;
  display:flex;
  justify-content:space-between;
  width:100%;
  height:70px;
  background:#36afff;
  box-shadow:0px 4px 20px rgba(96, 96, 96, 0.25);
  z-index:5;
}

.IWOP{
  width: 150px;
  margin-inline:80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top{
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}

body {
  background-image: url(image/IWOP\ 4.svg);
  background-repeat: space;
  background-attachment: scroll;
  background-position: center center;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
  background: #36afff;
  margin: 10px;
  padding: 20px;
}
.order {
  order: 0;
}

.name {
  width: 100%;
  height: 40px;

  text-align: center;
  line-height: 40px;
  color: #dce2f0;
}
.content {
  width: 100%;
  height: 100px;
  margin: 10px 0px;

  color: #dce2f0;
}
.date {
  width: 100%;
  height: 40px;

  text-align: center;
  line-height: 40px;
  color: #dce2f0;
}

input {
  width: 100%;
  height: 100%;
  border: 0;
  background: #36afff;
  display: inline;

  text-align: center;
  color: #dce2f0;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: #dce2f0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;

  color: #50586c;
}

button {
  width: 100%;
  height: 100%;
  border: 0;
  background: #dce2f0;
  border-radius: 10px;

  color: #50586c;
}

.text {
  width: 100%;
  height: 100%;
  resize: none;
  background: #dce2f0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;

  color: #50586c;
}
